<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Following application have been updated</h1>
    <p>
      Name: <%= @visa_application.name %>
    </p>
    <% @changes.each do |name,change| %>
    <p>
      Old <%= name %>: <%= change[0]%>
      New <%= name %>: <%= change[1]%>
    </p>
    <% end %>
    <p>Thanks for using this tool and have a great day!</p>
  </body>
</html>